*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
ul{
  display: flex;
  list-style-type: none;
  
  background-color: black;
  color: white;
}
ul > li{
  padding: 10px 20px;

  text-align: end;
  cursor: pointer;
}
ul > li:hover {
background-color:white;
color: black;
}