/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }
  
  /* Header tipo landing page */
 /* Estilos del banner animado */
/* Estilos del banner animado */
.space-banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: radial-gradient(circle, #000 0%, #000 80%);
  }
  
  .stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
    background-size: cover; /* Ajuste para cubrir todo el área */
    animation: starsAnimation 60s linear infinite;
  }
  
  .stars::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 1%, transparent 50%);
    opacity: 0.5;
    animation: starsAnimation 50s linear infinite;
  }
  
  .space-content {
    z-index: 2;
  }
  
  .space-content h1 {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  
  .space-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 1.2rem;
  }
  
  /* Animaciones */
  @keyframes starsAnimation {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%; }
  }
  
  
  .space-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: radial-gradient(circle, rgba(8, 8, 8, 0.8) 0%, rgba(0,0,0,0.5) 100%);
    z-index: 1;
  }
  
  .space-content {
    z-index: 2;
  }
  
  .space-content h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    animation: fadeInOut 4s infinite;
  }
  
  .space-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    animation: fadeInOut 6s infinite;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 1.2rem;
  }
  
  /* Animaciones */
  @keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .header-content {
    z-index: 2;
  }
  
  .header-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .header-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 1.2rem;
  }
  
  /* Sección de contenido */
  .about-section, .bg-light {
    padding: 60px 0;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  p, ul {
    font-size: 1.1rem;
  }
  
  ul {
    list-style: none;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  /* Fondo de estrellas para secciones */
.space-background {
    position: relative;
    background: url('https://www.transparenttextures.com/patterns/stardust.png') repeat;
    background-size: cover;
    color: #fff; /* Asegura que el texto sea visible sobre el fondo */
    padding: 60px 0; /* Ajusta el padding según necesites */
    overflow: hidden; /* Para asegurarnos de que el fondo cubra toda el área */
  }
  
  /* Estilos adicionales para la sección con fondo de estrellas */
  .space-background h2,
  .space-background p,
  .space-background ul {
    color: #fff; /* Color de texto para contraste */
  }
  
  /* Opcional: Añadir un overlay para mejorar la legibilidad */
  .space-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Ajusta la opacidad del overlay */
    z-index: 1;
  }
  
  .space-background .container {
    position: relative;
    z-index: 2;
  }
  
  
  /* Sección de contacto */
  .contact-section {
    padding: 40px 0;
    background-color: #3498db;
    color: #fff;
  }
  
  .contact-section a {
    color: #fff;
    text-decoration: none;
  }
  
  .contact-section a:hover {
    text-decoration: underline;
  }
  

/* Estilos personalizados para la barra de navegación */


.navbar-brand {
    color: #f4fcf8; /* Color del texto de la marca */
    font-weight: bold; /* Fuente en negrita para la marca */
    font-size: 1.5rem; /* Tamaño de fuente */
}

.navbar-brand:hover {
    color: #5f2525; /* Color del texto cuando el mouse pasa sobre la marca */
}

.nav-link {
    color: #f3eded; /* Color de los enlaces de navegación */
    font-size: 1.1rem; /* Tamaño de fuente */
    margin-left: 15px; /* Espaciado entre los enlaces */
}

.nav-link:hover {
    color: #702a2a; /* Color de los enlaces cuando el mouse pasa sobre ellos */
}

.navbar-toggler {
    border: none; /* Elimina el borde del botón de menú */
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path stroke="%23ffffff" stroke-width="3" d="M5 7h20M5 15h20M5 23h20"/></svg>');
}

@media (max-width: 991.98px) {
    .navbar-nav .nav-link {
        padding-right: 0; /* Ajuste para que los enlaces no tengan margen en pantallas pequeñas */
        padding-left: 0;
        font-size: 1rem; /* Ajustar el tamaño de fuente en pantallas pequeñas */
    }
}
.nav-link, .btn {
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

/* Asegura que el contenedor de las tarjetas tenga una altura adecuada */
#proyectos {
  padding: 10rem 0; /* Espaciado alrededor de la sección */
}

/* Estilo para las tarjetas */
.card {
  display: flex;
  flex-direction: column;
  height: 100%; /* Asegura que la tarjeta ocupe todo el espacio disponible */
  max-height: 100%; /* Evita que la tarjeta se desborde verticalmente */
  overflow: hidden; /* Oculta cualquier contenido desbordado */
}

/* Ajuste de las imágenes dentro de la tarjeta */
.card-img-top {
  width: 100%; /* Se asegura de que la imagen no exceda el ancho de la tarjeta */
  height: 200px; /* Ajusta la altura de la imagen para que encaje bien */
  object-fit: cover; /* Mantiene la imagen proporcional sin deformarla */
}

/* Asegura que el cuerpo de la tarjeta ocupe el espacio necesario */
.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden; /* Evita que el contenido del cuerpo se desborde */
}

/* Ajusta el espaciado entre los elementos del cuerpo de la tarjeta */
.card-body > * {
  margin-bottom: 1rem; /* Espacio entre los elementos del cuerpo de la tarjeta */
}

/* Mantiene el botón al final de la tarjeta */
.card .btn {
  align-self: center;
  margin-top: auto;
}

/* Ajusta la disposición en pantallas pequeñas */
@media (max-width: 768px) {
  .card {
    min-height: 300px; /* Ajusta la altura mínima para pantallas pequeñas */
  }

  .card-img-top {
    height: 150px; /* Ajusta la altura de la imagen para pantallas pequeñas */
  }
}


/* Estilo para el footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #343a40; /* Fondo oscuro */
  color: #ffffff; /* Texto blanco */
  text-align: center;
  padding: 1rem 0; /* Espaciado vertical */
  font-size: 1.2rem; /* Tamaño de fuente */
}

/* Asegura que el contenido principal crezca y empuje el footer al final de la página */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Espaciado inferior en la sección de proyectos para evitar que el contenido toque el footer */
.space-banner {
  margin-bottom: 2rem;
}
