*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
section{
  background-color: gray;
  padding: 20px;
  text-align: center;
  
}
section > h1{
  padding: 40px 15px;
}
.galeria{
  display: flex;
  gap: 35px;

}
.card > p{
  padding-top: 20px;
}